# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.eggs/

# Django
*.sqlite3
/staticfiles/
/media/
local_settings.py

# Env
.env
.env.*
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
